NEXT_PUBLIC_SUPABASE_URL=https://ktpzqjuspilsxnhcmycs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_IJADeYgo4rf-tmi3QyCTPA_5Hwq09zP
NEXT_PUBLIC_API_BASE_URL=https://ktpzqjuspilsxnhcmycs.supabase.co/functions/v1
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
BOOTSTRAP_SECRET=change_me_in_.env.local